* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        /* background-color: red; */
    }

    .nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: antiquewhite;
        ;
        align-items: center;
        padding: .7rem 1rem;
        z-index: 5;
        position: relative;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
    }

    .nav--container {
        position: absolute;
        width: 50%;
        height: 100vh;
        top: 0;
        right: 0;
        /* height: auto; */
        top: 100%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        ;
        padding: .5rem 1rem;
    }

    .nav--container li {
        list-style-type: none;
        text-transform: capitalize;
    }

    .nav-button-container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        
        align-items: center;
        gap: .7rem;
        /* background-color: red; */
        padding-top: .4rem;
    }

    .login-btn {
        width: 7rem;
        height: 2.4rem;
        background-color: transparent;
        border: none;
        text-transform: capitalize;
        cursor: pointer;

    }

    .login-btn:hover {
        font-weight: 700;
        transition: ease-out;
        transition-duration: 200ms;
    }

    .register-btn {
        border-radius: .5rem;
        border: 2px solid #000;
        height: .4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 0 2rem;
        color: #000;
        /* background-color: yellow; */
        text-transform: capitalize;
        cursor: pointer;
    }

    .register-btn:hover {
        font-weight: 700;
        transition: ease-out;
        transition-duration: 500ms;
    }

    .login-btn {
        width: 100%;
        height: 2.4rem;
        /* background-color: yellow; */
        border: none;
        text-transform: capitalize;
        cursor: pointer;

    }

    .login-btn:hover {
        font-weight: 700;
        transition: ease-out;
        transition-duration: 200ms;
    }

    .register-btn {
        border-radius: .5rem;
        border: 2px solid #000;
        width: 100%;
        height: 2.4rem;
        color: #000;
        background-color: transparent;
        text-transform: capitalize;
        cursor: pointer;
    }

    .register-btn:hover {
        font-weight: 700;
        transition: ease-out;
        transition-duration: 500ms;
    }

    .hero--img {
        content: url("./assets/image-hero-mobile.png");
        width: 100vw;
    }


}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

    .nav-section {
        /* background-color: red; */
        height: 3rem;
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        align-items: center;
        padding: 0 1.2rem;
    }

    .nav--container {
        display: none;
    }

    .nav-button-container {
        display: none;
    }

    .hamburger {
        cursor: pointer;
    }

    /* .hero {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             /* margin: 1rem 11rem 0rem; */
    /* padding: 0rem 4rem 0rem; */

    /* } */

    .hero--text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero--text h1 {
        font-size: 2.5rem;
        margin: 1.5rem 0;
        display: flex;
        justify-content: center;
        /* background-color: yellow; */
    }

    .hero--text p {
        color: grey;
        font-size: 1.2em;
        line-height: 1.63rem;
        /* background-color: aqua; */
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        /* padding: 0 4rem; */
    }

    .learnmore-btn {
        border-radius: .5rem;
        border: none;
        width: 7rem;
        height: 2.4rem;
        color: white;
        background-color: #000;
        margin: 1.5rem auto;
        cursor: pointer;

    }

    .learnmore-btn:hover {
        border-radius: .5rem;
        border: 2px solid #000;
        width: 7rem;
        height: 2.4rem;
        color: #000;
        background-color: transparent;
        transition: ease-out;
        transition-duration: 200ms;
    }

    .hero--img {
        content: url("./assets/image-hero-mobile.png");
        width: 100%;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {


    .hero {
        display: flex;

    }



    .hero--img {
        content: url("./assets/image-hero-desktop.png");
    }

    .hamburger {
        cursor: pointer;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
    body {
        /* background-color: green; */
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: red; */
        height: 5rem;
        padding: 0 5rem;
    }

    .logo {
        /* padding-left: 5rem; */
    }

    .nav-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: red; */
        width: 100%;
        height: 3rem;
        padding: .5rem 1rem;

    }

    .nav--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        /* width: 14rem; */
        /* background-color: yellow; */
        padding-left: 3rem;
        text-transform: capitalize;

    }

    .nav--container li {
        list-style-type: none;
        cursor: pointer;
    }

    .hamburger {
        cursor: pointer;
        display: none;
    }

    .dropdown--menu {
        justify-content: space-between;
        text-decoration: none;
    }

    .nav--link {
        text-decoration: none;
    }

    .login-btn {
        width: 7rem;
        height: 2.4rem;
        background-color: transparent;
        border: none;
        text-transform: capitalize;
        cursor: pointer;

    }

    .login-btn:hover {
        font-weight: 700;
        transition: ease-out;
        transition-duration: 200ms;
    }

    .register-btn {
        border-radius: .5rem;
        border: 2px solid #000;
        width: 7rem;
        height: 2.4rem;
        color: #000;
        background-color: transparent;
        text-transform: capitalize;
        cursor: pointer;
    }

    .register-btn:hover {
        font-weight: 700;
        transition: ease-out;
        transition-duration: 500ms;
    }

    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1rem 11rem 0rem;
        /* padding: 0rem 4rem 0rem; */

    }

    .hero--text {
        width: 60%;
    }

    .hero--text h1 {
        font-size: 4.5rem;
        width: 74%;
        margin-bottom: 1rem;
    }

    .hero--text p {
        color: grey;
        font-size: 1.2em;
        line-height: 1.63rem;
        width: 70%;
        margin: 1.5rem 0 2rem;
    }

    .learnmore-btn {
        border-radius: .5rem;
        border: none;
        width: 7rem;
        height: 2.4rem;
        color: white;
        background-color: #000;
        margin: 1rem 0 2rem;
        cursor: pointer;
    }

    .learnmore-btn:hover {
        border-radius: .5rem;
        border: 2px solid #000;
        width: 7rem;
        height: 2.4rem;
        color: #000;
        background-color: transparent;
        transition: ease-out;
        transition-duration: 200ms;
    }

    .client-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin: 2rem 0 2rem;
    }

    .hero--img--container {
        width: 40%;
        display: flex;
    }

    .hero--img {
        content: url("./assets/image-hero-desktop.png");
        width: 100%;
    }

}